@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@600&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  height: 100%;
  background-color: black;
  font-family: "Montserrat", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

$border: 5px solid black;

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hover-active {
  &:hover {
    background-color: $orange;
  }
}

@mixin bg-color {
  background-color: white;
}

@mixin hover-fill {
  cursor: pointer;
  background-image: linear-gradient(black, black);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .5s, color .5s;
  &:hover {
      background-size: 100% 100%;
      color: white;
  }
}

$border: 5px solid black;
$orange: #ff8100;

.grid-container {
  display: grid;
  position: relative;
  height: 100vh;
  min-width: 700px;
  min-height: 550px;
  grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 3fr;
  gap: 0px 0px;
  grid-template-areas:
    "Logo Logo Title Title Title"
    "Logo Logo About-Title Projects-Title JFF-Title"
    "Black-Column Snake Memoji Projects JFF"
    "Black-Column Contact Contact Contact Links";
}

::selection {
  background: #fbff00;
}

#snakeGame {
  &:focus {
    outline: none;
    border: none;
  }
}

.title {
  grid-area: Title;
  border: $border;
  border-bottom: 0;
  font-size: 43px;
  text-align: center;
  text-transform: uppercase;
  @include center;
  @include bg-color;
}

.about-title {
  grid-area: About-Title;
  border: $border;
  border-right: 0;
  border-bottom: 0;
  font-size: 24px;
  height: 100%;
  @include center;
  @include bg-color;
  @include hover-fill;
}

.projects-title {
  grid-area: Projects-Title;
  border: $border;
  border-right: 0;
  border-bottom: 0;
  font-size: 24px;
  @include center;
  @include bg-color;
  @include hover-fill;
}

.jff-title {
  grid-area: JFF-Title;
  border: $border;
  border-bottom: 0;
  font-size: 24px;
  color:inherit;
  text-decoration: none;
  @include center;
  @include bg-color;
  @include hover-fill;
}

.ticker {
  grid-area: Black-Column;
  overflow: hidden;
  position: relative;
  font-size: 34px;
  writing-mode: vertical-rl;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-left: 15%;
  .c-rainbow {
    margin-top: -15%;
  }
}

.snake {
  grid-area: Snake;
  position: relative;
  border: $border;
  border-right: 0;
  border-bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include bg-color;
  .demo {
    width: 100px;
    margin: 50px 0;
  }
  .gameover {
    position: absolute;
    top: 30%;
    left: 47%;
    transform: translate(-50%);
    span {
      height: 200px;
      font-size: 36px;
      position: absolute;
      width: 20px;
      left: 0;
      top: 0;
      transform-origin: bottom center;
      -webkit-text-stroke: 1px white;
      text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
        -1px 1px 0 #000, 1px 1px 0 #000;
    }
    .char1 {
      transform: rotate(-33deg);
    }
    .char2 {
      transform: rotate(-26deg);
    }
    .char3 {
      transform: rotate(-18deg);
    }
    .char4 {
      transform: rotate(-4deg);
    }
    .char5 {
      transform: rotate(-4deg);
    }
    .char6 {
      transform: rotate(5deg);
    }
    .char7 {
      transform: rotate(14deg);
    }
    .char8 {
      transform: rotate(23deg);
    }
    .char9 {
      transform: rotate(27deg);
    }
    .char10 {
      transform: rotate(37deg);
    }
  }
  .button {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 10px 0;
    font-size: 26px;
    text-transform: uppercase;
    width: 70px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
  }
  li {
    list-style-type: none;
    line-height: 0;
  }
}

.memoji {
  grid-area: Memoji;
  border: $border;
  border-right: 0;
  border-bottom: 0;
  background-color: #c7c2cb;
  display: flex;
  justify-content: center;
  align-items: center;
  @include hover-active;
  img {
    width: 80%;
    animation-play-state: paused;
    &:hover {
      transform: translateX(10px) rotate(10deg) translateY(5px);
    }
  }
}

.projects {
  grid-area: Projects;
  border: $border;
  border-right: 0;
  border-bottom: 0;
  cursor: pointer;
  @include center;
  @include bg-color;
}

.jff {
  grid-area: JFF;
  border: $border;
  border-bottom: 0;
  cursor: pointer;
  @include center;
  @include bg-color;
}

.contact {
  grid-area: Contact;
  border: $border;
  border-right: 0;
  justify-content: flex-end;
  @include column;
  @include bg-color;
  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:hover {
      background-color: #fbff00;
    }
  }
  p {
    font-size: 150px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    justify-self: flex-end;
  }
  input {
    font-size: 24px;
    background-color: #d9d9d9;
    border: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    &::placeholder {
      color: gray;
    }
  }
  .head {
    @include row;
    justify-content: space-between;
    input {
      width: 100%;
      border: $border;
      border-left: 0;
      &:focus {
        outline: none;
      }
      &:nth-last-of-type(1) {
        border-right: 0;
      }
    }
  }
  .body {
    min-height: 100px;
    @include row;
    justify-content: space-between;
    textarea {
      background-color: #d9d9d9;
      border: $border;
      border-top: 0;
      border-left: 0;
      border-bottom: 0;
      width: 80%;
      font-size: 24px;
      font-family: "Montserrat", sans-serif;
      resize: none;
      &:focus {
        outline: none;
      }
      &::placeholder {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
      }
    }
    input {
      border: $border;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      width: 20%;
      background-color: black;
      color: white;
      border-bottom: none;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &:active {
      background-color: #fbff00;
      color: black;
      }
    }
  }
}

.links {
  grid-area: Links;
  border: $border;
  @include bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    a {
      display: block; 
      width: 40%;
      text-align: center;
    }
    img {
      width: 100%;
    }
}

.cv {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.shir {
  width: 200px;
}

@media only screen and (max-width: 1440px) {
  .ticker .c-rainbow {
    margin-top: -20%;
  }
}

.headline {
  display: flex;
}

.logo {
  grid-area: Logo;
  display: flex;
  align-items: center;
  justify-content: center;
  border: $border;
  border-right: 0;
  border-bottom: 0;
  @include bg-color;

  img {
    width: 28%;
    min-width: 100px;
    transition: transform 1s ease-in-out;
    transform-origin: center;

    // Define the default state with rollRight animation
    animation: rollRight 1s forwards;
  }

  &:hover img {
    // Animation when hovering
    animation: rollLeft 1s forwards;
  }
}

@keyframes rollLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes rollRight {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
